*	 	   		{ font-family: 'Tahoma', Arial, Helvetica, sans-serif; font-size: 13px;}
input 	   		{ display: block; width:300px; height:30px; padding-left:5px; color:#555; font-size:13px; }
textarea   		{ display: block; width:300px; height:70px; padding-left:5px; color:#555; font-size:15px;}
table 			{ border-collapse: collapse; width:99%; }
thead	 		{ border-collapse: collapse; background-color:#999; color:white;}
th, td 			{ border-collapse: collapse; border:1px solid black; padding:10px;}
p 		 		{ font-size:12px; color:black; text-align:justify;}
h3 				{ font-size:30px; padding-left:45px}
h4 				{ font-size:14px; padding-left:90%; position:relative; top:-40px;}

.busca 			{ position:absolute; left:74%; top:40px; }
.campo-busca 	{ width: 180px; display: inline-flex; }
.bt_busca 	    { width: 80px;  display: inline-flex; height:35px; }
.bt 	   		{ width:305px; margin-top: 10px; }
.banner 		{ width:99%; height:100px; border:1px solid #ccc; border-bottom:0px; background-color:#eee;}
.container 		{ border:1px solid #ccc; width:99%; display:inline-flex; }
.conteudo-form 	{ padding:10px; }
.conteudo-texto { padding:10px; }
.body-form 		{ background-color: #eee; padding:25px; border:1px solid #ccc; height:450px; }
.body-texto		{ background-color: #eee; padding:25px; border:1px solid #ccc; height:450px; overflow:auto; }
p.titulo   		{ font-size:20px; color:black; z-index:999 !important;}
.pessoas-thead 	{ background-color: #eee; } 
.pessoas-th 	{ background-color:#eee; border:1px solid #ccc; color:black; font-weight:normal; text-align:left;}
.pessoas_painel { width: 99%;} 
.bt_pessoa 		{ cursor:pointer;}
.mostra_pessoa  { width:200px; height:200px; }
.mostra_pessoa0 { width:200px; height:200px; background-image:url('img/avatar0.jpg'); }
.mostra_pessoa1 { width:200px; height:200px; background-image:url('img/avatar1.jpg'); }
.mostra_pessoa2 { width:200px; height:200px; background-image:url('img/avatar2.jpg'); }
.mostra_pessoa3 { width:200px; height:200px; background-image:url('img/avatar3.jpg'); }
.mostra_pessoa4 { width:200px; height:200px; background-image:url('img/avatar4.jpg'); }
.mostra_pessoa5 { width:200px; height:200px; background-image:url('img/avatar5.jpg'); }
.cartas_promo 	{ width:500px; height:500px; text-align:center; font-weight:bold;     }
.anuncio 		{ position:absolute; top:150px; font-size:40px; margin:0 auto; text-align:center; background-color:#ddd; border:3px solid #ccc; width:700px; height:400px; z-index:-1;}
.fecha-anuncio  { font-size:20px; position: absolute;top:10px; left:90%;}